http
  head
    include includes/head.pug
    title NEXFI Docs - Login
  body
    div.container.mt-2
      header 
        h2 NEXFI Docs - Login
      section
        if withLocalLogin
          form(action='/login/password' method='POST')
            div.mb-3
              label.form-label Username
              input.form-control.form-control-lg(name='username' type='text')
            div.mb-3
              label.form-label Password
              input.form-control.form-control-lg(name='password' type='password')
            div.d-grid.gap-2
              button.btn.btn-primary.btn-lg(type='submit') Login
        div.divider.d-flex.align-items-center.my-4
          p.text-center.fw-bold.mx-3.mb-0.text-muted OR
        div.d-grid.gap-2
          if withGoogleLogin
            a.btn.btn-outline-danger.btn-lg(href='/auth/google')
              i.bi.bi-google.me-2
              span Login with Google
          if withMicrosoftLogin
            a.btn.btn-outline-success.btn-lg(href='/auth/microsoft')
              i.bi.bi-microsoft.me-2
              span Login with Microsoft


